# Servidor de Waisify
PORT=8150
HOST=0.0.0.0
JWT_SECRET=generar_un_secreto_seguro_para_produccion

# Credenciales de API de Spotify (Opcional)
# Si no se proveen, las búsquedas se realizarán automáticamente en YouTube.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
